Repository wittenbrock/wittenbrock-design-two: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx}": "eslint --cache --fix",
  "*.{js,jsx,ts,tsx,json,md}": "prettier --write"
}

Husky v4 and npm v6 test
  .husky/.gitignore
  .husky/pre-commit
  .huskyrc
  .lintstagedrc
  package-lock.json
  package.json
  src/layouts/Blog.jsx
Due: eslint --cache --fix, prettier --write

husky test
  .husky/.gitignore
  .husky/pre-commit
  package-lock.json
  package.json
  src/layouts/Blog.jsx
Due: eslint --cache --fix, prettier --write

Husky test
  package-lock.json
  package.json
  src/layouts/Blog.jsx
Due: eslint --cache --fix, prettier --write

Configure husky 5
  .husky/.gitignore
  .husky/pre-commit
  .husky/pre-push
  package-lock.json
  package.json
  src/layouts/Blog.jsx
Due: eslint --cache --fix, prettier --write

Add lint staged
  .husky/pre-commit
  .lintstagedrc
  package-lock.json
  package.json
  src/posts/chrome-devtools-101.md
Due: prettier --write

Fix gatsby-node.js to include post title
  .husky/pre-commit
  gatsby-node.js
  package.json
  src/layouts/Blog.jsx
  src/layouts/BlogPost.jsx
Due: eslint --cache --fix, prettier --write

Finally configure husky/lintstaged/prettier
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc
  gatsby-node.js
  package.json
  src/layouts/Blog.jsx
  src/layouts/BlogPost.jsx
Due: eslint --cache --fix, prettier --write

Add eslint standard and fix linting errors
  .eslintrc
  package-lock.json
  package.json
  src/layouts/BlogPost.jsx
  src/layouts/SectionOne.jsx
  src/layouts/SectionTwo.jsx
Due: eslint --cache --fix, prettier --write

eslint-config-gatsby-standard
  .eslintrc
  gatsby-config.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

Finish hustk/eslint/lintstaged configuration
  .eslintrc
  gatsby-config.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

Add better inline comments
  gatsby-browser.js
  src/components/button-down/ButtonDown.jsx
  src/components/contact-form/ContactForm.jsx
  src/components/wittenbrock-design-logo/WittenbrockDesignLogo.jsx
  src/layouts/Blog.jsx
  src/layouts/BlogPost.jsx
  tailwind.config.js
Due: eslint --cache --fix, prettier --write

Add drop cap styling to blog posts
  src/layouts/BlogPost.jsx
  src/posts/tailwind-a-love-story.md
Due: eslint --cache --fix, prettier --write

Add cross browser / accessible drop cap to blog posts
  src/layouts/BlogPost.jsx
  src/posts/tailwind-a-love-story.md
Due: eslint --cache --fix, prettier --write

Update npm packages
  package-lock.json
Due: prettier --write

Add and configure netlify.toml
  netlify.toml
Due: none

Fix netlify.toml syntax issues
  netlify.toml
Due: none

Fix rss feed's blog post link URL
  gatsby-config.js
Due: eslint --cache --fix, prettier --write

Seperate tailwind colors into another file
  package-lock.json
  tailwind-colors.js
  tailwind.config.js
Due: eslint --cache --fix, prettier --write

Create an image directory wry and upload images
  gatsby-config.js
  package-lock.json
  package.json
  src/components/button-down/ButtonDown.jsx
  src/components/contact-form/SubmitButton.jsx
  src/icons/camera.svg
  src/icons/cheveron-down.svg
  src/icons/favicon.png
  src/icons/home.svg
  src/icons/send.svg
  src/images/chrome-devtools-101/chrome-devtools-101-thumbnail.jpg
  src/images/chrome-devtools-101/console-color-inspector.png
  src/images/chrome-devtools-101/console-css-classes.png
  src/images/chrome-devtools-101/console-errorlocation.png
  src/images/chrome-devtools-101/console-inspector-pointer.png
  src/images/chrome-devtools-101/console-status-codes.png
  src/images/chrome-devtools-101/console-styles-menu.png
  src/images/chrome-devtools-101/devtools-fonts.png
  src/images/chrome-devtools-101/devtools-media-queries.png
  src/images/chrome-devtools-101/html-color-picker.png
  src/images/drupals-frontend-tools-suck/drupals-frontend-tools-suck-thumbnail.jpg
  src/images/drupals-frontend-tools-suck/drush-cache-clear.png
  src/images/drupals-frontend-tools-suck/white-screen-of-death.png
  src/images/tailwind-a-love-story/tailwind-a-love-story-thumbnail.jpg
  src/images/tailwind-a-love-story/tailwind-ui-color-palette.png
  src/images/what-im-thinking-about.png
  src/images/why-i-write/why-i-write-thumbnail.jpg
  src/images/william-wittenbrock-portrait.jpg
  src/pages/404.jsx
  src/posts/chrome-devtools-101.md
  src/posts/drupals-frontend-tools-suck.md
  src/posts/tailwind-a-love-story.md
  src/posts/why-i-write.md
  src/styles/global.css
  tailwind-colors.js
  tailwind.config.js
  website.js
Due: eslint --cache --fix, prettier --write

Configure gatsby-transformer-cloudinary
  gatsby-node.js
  src/components/blog-card/BlogCard.jsx
  src/pages/index.jsx
  src/posts/chrome-devtools-101.md
  src/posts/drupals-frontend-tools-suck.md
  src/posts/tailwind-a-love-story.md
  src/posts/why-i-write.md
  src/templates/Blog.jsx
  src/templates/BlogPost.jsx
  src/templates/Contact.jsx
  src/templates/SectionOne.jsx
  src/templates/SectionTwo.jsx
  src/templates/index.js
Due: eslint --cache --fix, prettier --write

Replace all #HEX values with tailwindColors object
  src/components/button-down/styles.jsx
  src/components/contact-form/FormField.jsx
  src/components/social-media-icon/ContactIcon.jsx
  src/components/social-media-icon/SocialMediaIcon.jsx
  src/templates/Blog.jsx
  src/templates/BlogPost.jsx
Due: eslint --cache --fix, prettier --write

Clean up the file structure
  gatsby-config.js
  src/components/Blog.jsx
  src/components/BlogCard.jsx
  src/components/Contact.jsx
  src/components/SectionOne.jsx
  src/components/SectionTwo.jsx
  src/components/blog-card/index.js
  src/components/button-down/index.js
  src/components/contact-form/SubmitButton.jsx
  src/components/contact-form/index.js
  src/components/index.js
  src/components/seo/index.js
  src/components/social-media-icon/SocialMediaIcon.jsx
  src/components/social-media-icon/index.js
  src/components/wittenbrock-design-logo/index.js
  src/pages/404.jsx
  src/pages/blog/chrome-devtools-101.md
  src/pages/blog/drupals-frontend-tools-suck.md
  src/pages/blog/tailwind-a-love-story.md
  src/pages/blog/why-i-write.md
  src/pages/index.jsx
  src/templates/BlogPost.jsx
  src/templates/index.js
Due: eslint --cache --fix, prettier --write

Refactor Blog and BlogPost components
  src/components/Blog.jsx
  src/components/BlogCard.jsx
Due: eslint --cache --fix, prettier --write

Put global styles in CSS-in-JSS
  gatsby-browser.js
  src/components/BlogCard.jsx
  src/components/PageWrapper.jsx
  src/components/index.js
  src/pages/404.jsx
  src/pages/index.jsx
  src/styles/global.css
  src/templates/BlogPost.jsx
Due: eslint --cache --fix, prettier --write

Add william portrait through Gatsby Image
  gatsby-node.js
  src/templates/BlogPost.jsx
  tailwind.config.js
Due: eslint --cache --fix, prettier --write

Inline images in markdown posts are now handled by gatsby-image
  README.md
  gatsby-config.js
  package-lock.json
  package.json
  src/components/Blog.jsx
  src/components/BlogCard.jsx
  src/components/button-down/ButtonDown.jsx
  src/components/social-media-icon/ContactIcon.jsx
  src/components/social-media-icon/SocialMediaIcon.jsx
  src/images/tailwind-a-love-story/html-color-picker.png
  src/pages/blog/chrome-devtools-101.md
  src/pages/blog/drupals-frontend-tools-suck.md
  src/pages/blog/tailwind-a-love-story.md
  src/pages/index.jsx
  tailwind.config.js
  website.js
Due: eslint --cache --fix, prettier --write

Add gitpod configuration files
  .nvmrc
  gitpod.DockerFile
  gitpod.yml
  netlify.toml
  package.json
  tailwind.config.js
Due: eslint --cache --fix, prettier --write

Update node.js & npm => 15.6.0 & 7.4.0
  README.md
  package-lock.json
Due: prettier --write

Fix gitpod related files
  .gitpod.DockerFile
  .gitpod.yml
  README.md
Due: prettier --write

Clean up missing propTypes
  src/components/button-down/ButtonDown.jsx
  src/components/contact-form/ContactForm.jsx
  src/components/contact-form/SubmitButton.jsx
  src/components/seo/Facebook.jsx
Due: eslint --cache --fix, prettier --write

Fix blog card underline z-index
  src/components/BlogCard.jsx
Due: eslint --cache --fix, prettier --write

Add theia settings
  .theia/settings.json
Due: prettier --write

Update proptypes
  src/components/Blog.jsx
  src/components/BlogCard.jsx
  src/components/PageWrapper.jsx
  src/components/contact-form/FormField.jsx
  src/components/index.js
Due: eslint --cache --fix, prettier --write

Update npm packages
  package-lock.json
  package.json
Due: prettier --write

Update yup and prettier
  package-lock.json
  package.json
Due: prettier --write

Upgrade to Tailwind 2.0
  babel-plugin-macros.config.js
  package-lock.json
  package.json
  src/components/PageWrapper.jsx
  src/components/button-down/styles.jsx
  src/components/contact-form/FormField.jsx
  src/components/wittenbrock-design-logo/styles.jsx
  src/pages/blog/tailwind-a-love-story.md
  tailwind-colors.js
  tailwind.config.js
Due: eslint --cache --fix, prettier --write

Rename .gitpod.DockerFile to .gitpod.Dockerfile
  .gitpod.Dockerfile
Due: none

Remove netlify headers
  netlify.toml
Due: none

Add blog post 'I dopped out of my boot camp'
  src/images/i-dropped-out-of-my-coding-boot-camp/company-logos.png
  src/images/i-dropped-out-of-my-coding-boot-camp/i-dropped-out-of-my-boot-camp-thumbnail.jpg
  src/images/i-dropped-out-of-my-coding-boot-camp/job-placement-outcomes.png
  src/images/i-dropped-out-of-my-coding-boot-camp/learn-to-code-in-11-weeks.png
  src/images/i-dropped-out-of-my-coding-boot-camp/program-structure.png
  src/pages/blog/i-dropped-out-of-my-boot-camp.md
Due: prettier --write
